# For check correct works "mod_rewrite" (used in function _isSupportFriendlyUrl)
SetEnv HTACCESS on

RewriteEngine On

# Mapping api request to file
RewriteRule ^api/song_info$ api/song_info.php
RewriteRule ^api/user/oauth2_authorize$ api/oauth2_authorize.php
RewriteRule ^api/user/oauth2_revoke$ api/oauth2_revoke.php
RewriteRule ^api/favorites$ api/favorites.php
RewriteRule ^api/favorites/search$ api/favorites.php
