.radio-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.67);
    z-index: 100;
}

.radio-modal-content {
    width: 512px;
    max-width: 100%;
    position: relative;
    top: 64px;
    background-color: #fff;
    color: #231f20;
    margin: 0 auto;
    padding: 16px;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(255,255,255,0.3);
}

.radio-modal-content::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.radio-modal-content .radio-modal-title {
    font-size: 24px;
    margin: 0;
    margin-bottom: 16px;
}

.radio-modal-close {
    color: #555555;
    cursor: pointer;
    float: right;
    margin: -8px;
    font-size: 16px;
}

button.radio-modal-close {
    border: none;
    background: none;
    outline: none;
}


.radio-modal-close:hover {
    color: #c21a29;
}

.radio-modal-close:active {
    color: #90121b;
}

.radio-modal-close:before {
    content: '✕';
}

/* .radio-modal-show-anim & .radio-modal-hide-anim */

.radio-modal.radio-modal-show-anim {
    animation: radio-modal-show-anim 0.3s;
}

.radio-modal.radio-modal-show-anim .radio-modal-content {
    position: relative;
    animation: radio-modal-show-content-anim 0.3s;
}

@keyframes radio-modal-show-anim {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes radio-modal-show-content-anim {
    from { top: 32px }
}

.radio-modal.radio-modal-hide-anim {
    animation: radio-modal-hide-anim 0.3s;
}

@keyframes radio-modal-hide-anim {
    from { opacity: 1 }
    to { opacity: 0; top: 16px; height: calc(100% - 16px) }
}
