.radio-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.radio-modal-content {
    width: 512px;
    max-width: 100%;
    background-color: #fff;
    color: #231f20;
    margin: 0 auto;
    margin-top: 64px;
    clear: both;
}

.radio-modal-content::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.radio-modal-close {
    color: #555555;
    cursor: pointer;
    float: right;
    margin: 8px;
}

button.radio-modal-close {
    border: none;
    background: none;
    outline: none;
}

.radio-modal-close:active {
    color: #231f20;
}

.radio-modal-close:before {
    content: '✕';
}
