@import url("modal.css");

body {
    background-color: #000;
    color: #fff;
    padding-top: 24px;
    font-family: 'Open Sans', sans-serif;
}

.logo {
    width: 512px;
    margin: 0 auto;
    display: block;
}

.row {
    display: flex;
}

.row .row-item {
    flex: 1;
}

.clearfix {
    clear: both;
}

/* .radio-toggle-play */

.radio-toggle-play {
    display: block;
    outline: none;
    background-color: #231f20;
    border: none;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    position: relative;
    cursor: pointer;

    transition: margin 0.4s, width 0.4s, height 0.4s;
}

.radio-toggle-play:active {
    background-color: #1D1C1C;
}

.radio-toggle-play.radio-play-btn {
    width: 96px;
    height: 96px;
}

.radio-toggle-play .radio-toggle-play-icon {
    transition: border 0.4s, left 0.4s, top 0.4s;
}

.radio-toggle-play.radio-play-btn .radio-toggle-play-icon {
    position: absolute;
    left: 36px;
    top: 24px;

    width: 0;
    height: 0;
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent;
    border-left: 32px solid #fff;
    border-right: 0 solid transparent;
}

.radio-toggle-play.radio-stop-btn .radio-toggle-play-icon {
    position: absolute;
    left: 12px;
    top: 12px;

    width: 0;
    height: 0;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    border-left: 20px solid #fff;
    border-right: 0 solid #fff;
    border-radius: 4px;
}

.radio-toggle-play.radio-stop-btn {
    border: 2px solid #231f20;
    background-color: #fff;
}

.radio-toggle-play.radio-stop-btn .radio-toggle-play-icon {
    border-color: #231f20;
}

.radio-toggle-play.radio-stream-loading {
    animation: radio-toggle-play-loading 0.3s infinite alternate
}

@keyframes radio-toggle-play-loading {
    from { border-color: #231f20; }
    to { border-color: #fff; }
}

/* .radio-panel */

.radio-panel {
    width: 640px;
    margin: 0 auto;
    margin-top: 48px;
    position: relative;
}

.radio-panel .radio-panel-title {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    margin-left: 96px;
}

.radio-panel .radio-panel-content {
    border-radius: 2px;
    background-color: #fff;
    color: #231f20;
    padding: 16px;
    padding-top: 24px;
    box-shadow: 0 2px 32px rgba(255,255,255,0.25);
}

.radio-panel .radio-panel-title {
    transition: opacity 0.3s;
}
.radio-panel .radio-panel-content {
    transition: opacity 0.3s;
}

.radio-panel.radio-panel-collapsed .radio-panel-title,
.radio-panel.radio-panel-collapsed .radio-panel-content {
    opacity: 0;
}

.radio-panel.radio-panel-extended .radio-panel-title,
.radio-panel.radio-panel-extended .radio-panel-content {
    opacity: 1;
    transition-delay: 0.2s;
}

/* .radio-panel .radio-panel-button */

.radio-panel .radio-panel-button {
    z-index: 1;
    position: absolute;
    margin-top: -24px;
}


.radio-panel.radio-panel-collapsed .radio-panel-button {
    margin-left: calc(50% - 48px);
}

.radio-panel .radio-panel-button.radio-stream-loading {
    margin-top: -8px;
    margin-left: calc(50% - 24px);
}

.radio-panel.radio-panel-extended .radio-panel-button {
    margin-left: 24px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.4);
}

/* .radio-panel - utils */

.radio-panel .radio-panel-content {
    font-size: 14px;
    position: relative;
    box-sizing: border-box;
    min-height: 256px;
}

.radio-panel .radio-panel-section-title {
    margin-top: 14px;
    color: #c21a29;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.radio-panel .radio-panel-section-title.radio-placeholder,
.radio-panel .radio-panel-section-title .radio-placeholder {
    background-color: #c21a29;
    height: 14px;
    border-radius: 7px;
    color: transparent;
    margin-bottom: 4px;
}

.radio-panel .radio-placeholder {
    height: 14px;
    width: 88px;
    background-color: #ddd;
    border-radius: 7px;
    color: transparent;
}

.radio-panel span.radio-placeholder {
    display: inline-block;
}

.radio-panel .radio-placeholder.placeholder-long {
    width: 256px;
}

.radio-panel .radio-placeholder.placeholder-short {
    width: 32px;
}

.radio-panel .radio-panel-section-title:first-child {
    margin-top: 16px;
}

.radio-panel .radio-panel-album-image {
    float: right;
    margin-top: -24px;
    margin-right: -16px;
    width: 256px;
    height: 256px;
}

.radio-panel .radio-panel-album-image.no-album-image {
    visibility: hidden;
}

/* .radio-tags */

.radio-tags {
    margin-top: 12px;
}

.radio-tags .radio-tag {
    background-color: #c21a29;
    color: #fff;
    display: inline-block;
    border-radius: 19px;
    padding: 0 8px;
    margin-right: 4px;
    margin-top: 4px;
    font-size: 14px;
    line-height: 22px;
}

/* .radio-url */

.radio-url {
    display: inline-block;
    margin-top: 8px;
    font-size: 12px;
    color: #c21a29;
    margin-right: 2px;
    text-decoration: underline;
    cursor: pointer;
}

.radio-url.no-url {
    display: none;
}

/* .radio-panel-lyrics */

.radio-panel-lyrics.collapsed {
    display: none;
}

.radio-panel-lyrics {
    position: relative;
    display: flex;
    margin-top: 24px;
    border-radius: 2px;
    padding: 16px;
    background-color: #fff;
    color: #231f20;
    font-size: 14px;
}

.radio-panel-lyrics:before {
    content: '';
    background-color: #f8f8f8;
    border-left: solid 1px #e8e8e8;
    position: absolute;
    width: 50%;
    top: 0;
    bottom: 0;
    right: 0;
}

.radio-panel-lyrics div {
    flex: 1;
    z-index: 1;
}

.radio-panel-lyrics .radio-lyrics-original {
    margin-right: 16px;
}

.radio-panel-lyrics .radio-lyrics-translation {
    margin-left: 16px;
}

.radio-panel-lyrics .radio-panel-lyrics-title {
    margin-bottom: 8px;
    color: #c21a29;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.05em;
}

/* .radio-refreshing-pie */

.radio-pie {
    display: inline-block;
    position: relative;
    background: #fff;
    width: 12px;
    height: 12px;
}

.radio-pie-label {
    margin-left: 2px;
    position: relative;
    top: -2px;
}

.radio-pie.radio-pie-placeholder {
    width: 14px;
    height: 14px;
}

.radio-pie-label.radio-placeholder {
    top: -1px;
}

.radio-pie, .radio-pie * {
    box-sizing: border-box;
}

.radio-pie-spinner,
.radio-pie-filler {
    width: 50%;
    height: 100%;
    transform-origin: 100% 50%;
    position: absolute;
    background-color: #c21a29;
}

.radio-pie-spinner {
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    z-index: 20;
    border-right: none;
}

.radio-pie-filler {
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    left: 50%;
    opacity: 0;
    z-index: 10;
    border-left: none;
}

.radio-pie-mask {
    width: 50%;
    height: 100%;
    position: absolute;
    background: inherit;
    opacity: 1;
    z-index: 30;
}

.radio-pie.radio-pie-indeterminate {
    border-radius: 100%;
    background: #c21a29;
    animation: radio-pie-indeterminate 0.3s infinite alternate;
}

.radio-pie.radio-pie-indeterminate .radio-pie-spinner,
.radio-pie.radio-pie-indeterminate .radio-pie-filler,
.radio-pie.radio-pie-indeterminate .radio-pie-mask {
    background-color: transparent;
}


@keyframes radio-pie-indeterminate {
    from { background-color: #c21a29; }
    to { background-color: #90121b; }
}

/* .user-container & .user-panel*/

.user-container {
    position: absolute;
    top: 24px;
    right: 24px;
}

.user-panel {
}

.user-image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 12px;
}

.user-name {
    color: #fff;
    font-size: 14px;
}

.user-email {
    color: #aaa;
    font-size: 12px;
}

.user-actions {
    text-align: right;
    margin-top: 8px;
}

/* .btn-link */

.btn-link {
    text-decoration: underline;
    font-size: 12px;
    color: #c21a29;
    letter-spacing: 0.06em;
    font-weight: 600;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-link:active {
    color: #90121b;
}

.btn-link-separator {
    color: #ddd;
    font-size: 12px;
}

.btn-disabled {
    color: #555;
    pointer-events: none;
}

.btn-readonly {
    pointer-events: none;
}

/* .btn-favorite */

.btn-favorite {
    float: right;
    margin-top: -8px;
    margin-right: 16px;
}

.btn-favorite.radio-placeholder {
    display: none;
}

.btn-favorite i.material-icons {
    position: relative;
}

.btn-favorite.btn-favorite-unavailable {
    color: #777;
    cursor: auto;
}

.btn-favorite.btn-favorite-unavailable i.material-icons::after {
    content: "favorite_border";
}

.btn-favorite.btn-favorite-add i.material-icons::after {
    content: "favorite_border";
}

.btn-favorite.btn-favorite-add i.material-icons:hover::after {
    content: "favorite";
}

.btn-favorite.btn-favorite-remove i.material-icons::after {
    content: "favorite";
}

.btn-favorite.btn-favorite-highlight i.material-icons::before {
    content: "favorite";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    animation: btn-favorite-highlight 0.6s ease-out;
}

@keyframes btn-favorite-highlight {
    to {
        transform: scale(3);
        opacity: 0.0;
    }
}

.btn-favorite.btn-favorite-show-anim {
    transform: scale(0.5);
    opacity: 0.0;
    animation: btn-favorite-show-anim 0.2s ease-out;
}

@keyframes btn-favorite-show-anim {
    to {
        transform: scale(1);
        opacity: 1.0;
    }
}

.btn-favorite.btn-favorite-hide-anim {
    transform: scale(1.0);
    opacity: 1.0;
    animation: btn-favorite-hide-anim 0.2s ease-out;
}

@keyframes btn-favorite-hide-anim {
    to {
        transform: scale(0.5);
        opacity: 0.0;
    }
}

/* .radio-footer */

.radio-footer {
    float: right;
    color: #555;
    font-size: 14px;
    margin-right: 8px;
    margin-bottom: 16px
}

.radio-footer .version {
    color: #777;
    font-weight: 600;
}

/* .radio-favorites-list */

ul.radio-favorites-list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.radio-favorites-open-youtube-playlist {
    margin-bottom: 16px;
    font-weight: bold;
}

.radio-favorite-list-item {
    margin-bottom: 8px;
}

.radio-favorite-list-item:last-child {
    margin-bottom: 0;
}

.radio-favorite-album-image,
.radio-favorite-no-album-image,
.radio-favorite-no-album {
    width: 80px;
    height: 80px;
    margin-right: 16px;
}

.radio-favorite-no-album-image,
.radio-favorite-no-album {
    position: relative;
}

.radio-favorite-no-album-image i.material-icons,
.radio-favorite-no-album i.material-icons {
    font-size: 64px;
    position: absolute;
    left: 8px;
    top: 8px;
    color: #aaa
}

.radio-favorite-no-album i.material-icons {
    color: #ddd;
}

.radio-favorite-song-title,
.radio-favorite-album {
    display: block;
}

.radio-favorite-song-title {
    font-size: 16px;
    font-weight: 600;
}

.radio-favorite-album {
    font-size: 14px;
    color: #1D1C1C;
}